nav a { border: 3px solid rgb(3, 233, 91); 
padding: 5px;
    text-decoration: none;
    padding-right: 60px; 
    color: rgb(21, 206, 206);
border-radius: 10px;
margin: 5px;
}
nav{
   
    margin: 20px 0px;
    padding: 20px 0px;
    text-align: center;
    background-color: red;

}
header { background-color: 
yellow;  
  text-align: center;     }
  img { height: 200px;
    width: 150
    px;
}       
 header  h1 {   color: darkblue;}
header  h2 {    color: black;
    background-color: white;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    margin: 30px;   }
main { background-color: darkcyan;  border-radius: 30px ;padding: 10px;      }
main h3 { color: darkred;   border: 5px solid saddlebrown;  border-radius: 30px ;padding: 10px; }
td {border:1px solid blue;background-color:Olive;color:white; }

footer { background-color:yellow; border:5px solid rgb(0, 102, 128); color: silver;border-radius: 30px ;padding: 10px; }
main h1{  text-align: center; color: blue;         }
footer a {  border: 5px solid saddlebrown;       }
main img { border: 3px solid rgb(3, 233, 91);                }
   
